* {
  margin: 0;
  box-sizing: border-box;
  color: black;
  // font-family: "Inter", sans-serif;
  font-family: "Radio Canada", sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerLeft {
  display: flex;
  justify-content: center;
  align-items: left;
}

@mixin center_high {
  display: flex;
  justify-content: center;
}

@mixin block($height, $witdh, $color) {
  height: $height;
  width: $witdh;
  background-color: $color;
}

@mixin remove_input_style {
  border: none;
  background: none;
}

$first-color: #f7f7f7;
$second-color: #9fb4ff;
$third-color: #ffb72b;
$fourth-color: #99ffcd;
$fifth-color: #ffe61b;
$sixth-color: #2f86a6;
$seventh-color: black;

.header-logo {
  background-image: url(../img/planelogo.png);
  width: 225px;
  height: 75px;
  background-size: cover;
  padding: 0px;
}

.ttt {
  font-size: 39px;
  padding-left: 30px;
  color: $sixth-color;
}

header {
  border-bottom: $fifth-color solid 6px;
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(63, 63, 63);
    ul {
      @include center();
      li {
        list-style-type: none;
        padding-left: 25px;
        padding-right: 25px;
        a {
          text-decoration: none;
          letter-spacing: 1px;
          margin: 2px;
          font-size: 22px;
          width: 175px;
          height: 50px;
          padding: 8px;
          position: relative;
          border: none;
          text-align: center;
          transition-duration: 0.15s;
          overflow: hidden;
          cursor: pointer;
          &:hover {
            padding-bottom: 3px;
            border-bottom: $fourth-color solid 3.5px;
          }
          &:active {
            color: rgb(213, 213, 213);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  header {
    background-color: lightblue;
  }
}

.header-ul-left {
  @include center();
}

.header-ul-right {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: right;
  align-items: right;
  flex-direction: right;
  flex: 1;
}

.inlog-logo {
  width: 35px;
  @include center();
}

.main_section {
  height: auto;
  width: 100%;
  .main_content {
    height: auto;
    width: 100%;
    .slideShow {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../img/vacation11.jpeg");
      background-size: cover;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100vh;
      .zoekblak {
        background-color: $first-color;
        border-radius: 40px;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.07);
      }
    }
  }
}

.contact-page {
  width: 100%;
  padding: 50px;
  // .contact-p {
  //   @include centerLeft();
  // }
  .contact-title {
    // @include center();
    border-bottom: #99ffcd;
  }
  // .problemen-title {
  //   @include center();
  // }
  .container {
    // @include centerLeft();
    .veelgestelde-vragen-buttons {
      display: flex;
      flex-wrap: wrap;
      border-radius: 15px;
      border: #2f86a6 solid 4px;
      flex-direction: column;
      width: 450px;
      height: 90px;
      .subject-button {
        background-color: #fff;
        width: 50%;
      }
    }
  }
  // .contact-form {
  //   @include center();
  // }
}

.textarea {
  width: 400px;
  height: 200px;
}

.inlogformulier {
  @include center();
  background-image: url(../img/vacationinlog.jpeg);
  background-size: cover;
  width: 100%;
  height: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $first-color;
  .inlogform {
    align-items: left;
    border-radius: 25px;
    font-size: 35px;
    .inloggen {
      font-size: 75px;
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      .inloginput {
        width: 100%;
      }
    }
  }
}

.zoekblak {
  width: 900px;
  height: 300px;
  background-color: #f7f7f7;
  border-radius: 40px;
  .zoek-titel {
    @include block(60px, 100%, transparent);
    @include center();
    h2 {
      color: black;
      font-size: 35px;
    }
  }

  .plek-form {
    @include block(240px, 100%, transparent);
    .container-labels {
      @include block(30px, 100%, transparent);
      display: flex;
      .labels-plek {
        @include block(100%, 50%, transparent);
        @include center();
        h3 {
          @include block(35px, 90px, $third-color);
          @include center();
          font-size: 25px;
          color: black;
        }
      }
    }

    .container-input {
      @include block(auto, 100%, transparent);
      display: flex;
      flex-wrap: wrap;
      .input-plek {
        @include block(auto, 50%, transparent);
        @include center_high();
        .black {
          @include block(50px, 50px, transparent);
          @include center();
          background-color: $third-color;

          .vliegtuig-img {
            width: 90%;
            height: 90%;
          }

          .calander-size {
            font-size: 35px;
          }
        }
        .input {
          @include remove_input_style();
          width: 70%;
          height: 50px;
          border-color: $third-color;
          border: 3.3px solid $third-color;
        }
      }
    }
  }
}

.sectionfooter {
  width: 100%;
  height: auto;
  .footer {
    display: flex;
    width: 100%;
    height: 75px;
    border-top: #ffe61b solid 6px;
    .copyright {
      width: 50%;
      height: auto;
      @include center();
      p {
        color: black;
      }
    }
    .socialmedia {
      width: 50%;
      height: auto;
      @include center();
      .socialmedia-logo {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-right: 10px;
        .logo-button {
          border: none;
          background-color: none;
        }
      }
    }
  }
}

.border-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.border-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.img-border-right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.img-border-left {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rotate {
  transform: rotate(90deg);
}

.margin {
  margin-top: 10px;
}
