* {
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Radio Canada", sans-serif;
  scroll-behavior: smooth;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center_left {
  display: flex;
  justify-content: center;
  align-items: left;
}

@mixin center_high {
  display: flex;
  justify-content: center;
}

@mixin block($height, $witdh, $color) {
  height: $height;
  width: $witdh;
  background-color: $color;
}

@mixin remove_input_style {
  border: none;
  background: none;
}

@mixin margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

@mixin padding_bottom {
  padding-bottom: 15px;
}

@mixin margin_bottom {
  margin-bottom: 15px;
}

$first-color: #f7f7f7;
$second-color: #9fb4ff;
$third-color: #ffb72b;
$fourth-color: #99ffcd;
$fifth-color: #ffe61b;
$sixth-color: #2f86a6;
$seventh-color: black;

.header-logo {
  background-image: url(../img/planelogo.png);
  width: 225px;
  height: 75px;
  background-size: cover;
  padding: 0px;
}

.ttt {
  font-size: 39px;
  padding-left: 30px;
  color: $second-color;
}

header {
  border-bottom: $fifth-color solid 6px;
  height: 100px;
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(63, 63, 63);
    ul {
      @include center();
      li {
        list-style-type: none;
        padding-left: 25px;
        padding-right: 25px;
        a {
          text-decoration: none;
          letter-spacing: 1px;
          margin: 2px;
          font-size: 22px;
          width: 175px;
          height: 50px;
          padding: 8px;
          position: relative;
          border: none;
          text-align: center;
          transition-duration: 0.15s;
          overflow: hidden;
          cursor: pointer;
          &:hover {
            padding-bottom: 4px;
            border-bottom: $second-color solid 3.5px;
          }
          &:active {
            color: rgb(213, 213, 213);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  nav {
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media only screen and (max-width: 1200px) {
  nav {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media only screen and (max-width: 1000px) {
  nav {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 800px) {
  nav {
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 600px) {
  nav {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 400px) {
  nav {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 1100px) {
  .header-logo {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  li {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 600px) {
  li {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 400px) {
  li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 800px) {
  a {
    letter-spacing: 0px;
    margin: 2px;
    font-size: 22px;
    width: 175px;
    height: 50px;
    padding: 8px;
  }
}

.header-ul-left {
  @include center();
}

.header-ul-right {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: right;
  align-items: right;
  flex-direction: right;
  flex: 1;
}

.inlog-logo {
  width: 35px;
  @include center();
}

.main_section {
  height: auto;
  width: 100%;
  .main_content {
    height: auto;
    width: 100%;
    .slideShow {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../img/vacation11.jpeg");
      background-size: cover;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100vh;
      .zoekblak {
        background-color: $first-color;
        border-radius: 40px;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.07);
      }
    }
  }
}

.contact-opnemen {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: $first-color;
  height: 350px;
  @include center();
  width: 100%;
  .container {
    width: 850px;
    .contact-opnemen-title {
      @include center();
    }
    .contact-opnemen-p {
      @include center();
      margin-top: 25px;
      @include margin_bottom();
    }
    .container {
      @include center();
      .naar-formulier {
        border: 2px solid currentColor;
        border-radius: 25px;
        color: black;
        overflow: hidden;
        padding: 1rem 2rem;
        position: relative;
        text-decoration: none;
        transition: 0.2s transform ease-in-out;
        will-change: transform;
        z-index: 0;
        cursor: pointer;

        &::after {
          background-color: $second-color;
          border-radius: 3rem;
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-100%, 0) rotate(10deg);
          transform-origin: top left;
          transition: 0.2s transform ease-out;
          will-change: transform;
          z-index: -1;
        }
        &:hover::after {
          transform: translate(0, 0);
        }
        &:hover {
          border: 2px solid transparent;
          color: black;
          will-change: transform;
        }
      }
    }
    .container-orange {
      @include center();
      .opnemen {
        padding-left: 10px;
        padding-right: 10px;
        .orange {
          &:hover {
            color: $second-color;
          }
        }
      }
    }
  }
}
.formulier-container {
  background-image: url(../img/vacation12.jpg);
  background-size: cover;
  @include padding_bottom();
  @include center();
  width: 100%;
  .contact-page {
    border-radius: 12px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: $second-color;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 600px;
    padding: 50px;
    @include padding_bottom();
    @include margin_bottom();
    .contact-text {
      @include padding_bottom();
      @include margin_bottom();
    }
    .contact-title {
      border-bottom: #99ffcd;
      @include padding_bottom();
      @include margin_bottom();
    }
    .problemen-title {
      @include center();
      @include padding_bottom();
      @include margin_bottom();
    }
  }
  .contact-form {
    @include center();
    @include padding_bottom();
    @include margin_bottom();
    .contact-input {
      width: 200px;
      height: 45px;
      border: $third-color solid 2px;
      border-radius: 25px;
      padding-left: 13px;
      @include margin_bottom();
    }
    .textarea {
      border: $third-color solid 2px;
      border-radius: 25px;
      width: 400px;
      height: 200px;
      padding-left: 13px;
      padding-top: 13px;
      padding-right: 13px;
      @include padding_bottom();
      @include margin_bottom();
    }
    .submit-button {
      border: 2px solid currentColor;
      border-radius: 25px;
      color: black;
      overflow: hidden;
      padding: 1rem 2rem;
      position: relative;
      text-decoration: none;
      transition: 0.2s transform ease-in-out;
      will-change: transform;
      z-index: 0;
      cursor: pointer;

      &::after {
        background-color: $third-color;
        border-radius: 3rem;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0) rotate(10deg);
        transform-origin: top left;
        transition: 0.2s transform ease-out;
        will-change: transform;
        z-index: -1;
      }
      &:hover::after {
        transform: translate(0, 0);
      }
      &:hover {
        border: 2px solid transparent;
        color: black;
        will-change: transform;
      }
    }
  }
}

.section-login {
  @include block(auto, 100%, transparent);
  .main-login {
    @include block(90vh, 100%, transparent);
    display: flex;
    .login-plek {
      @include block(90vh, 40%, transparent);
      @include center();
      .login-block {
        @include block(350px, 400px, transparent);
        .form-container {
          @include block(300px, 100%, transparent);

          .login-container {
            @include block(100%, 100%, transparent);
            display: block;

            .titel {
              @include center();
              @include block(50px, 100%, transparent);
            }

            .label-input {
              @include block(20px, 100%, black);
            }

            .input-plek {
              @include block(60px, 100%, yellow);
            }
          }

          .singup-container {
            @include block(100%, 100%, yellow);
            display: none;
          }
        }

        .login-button-plek {
          @include block(50px, 400px, transparent);
          .button-plek {
            @include block(50px, 200px, transparent);
            @include center();

            .login-button {
              @include remove_input_style();
              width: 40%;
              height: 80%;
              font-size: 20px;
              transition-duration: 0.3s;
              border-radius: 8px;

              &:hover {
                background-color: #9fb4ff;
              }
            }

            .signup-button {
              @include remove_input_style();
              margin-left: 10%;
              width: 40%;
              height: 80%;
              font-size: 20px;
              transition-duration: 0.3s;
              border-radius: 8px;

              &:hover {
                background-color: #9fb4ff;
              }
            }
          }
        }
      }
    }

    .plek-plaatje {
      @include block(90vh, 60%, yellow);
      background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 1),
          transparent
        ),
        url(../img/boom.jpg);
      background-size: cover;
    }
  }
}

.zoekblak {
  width: 900px;
  height: 275px;
  background-color: #f7f7f7;
  border-radius: 40px;
  .zoek-titel {
    @include block(60px, 100%, transparent);
    @include center();
    h2 {
      color: black;
      font-size: 35px;
    }
  }

  .plek-form {
    @include block(240px, 100%, transparent);
    .container-labels {
      @include block(30px, 100%, transparent);
      display: flex;
      .labels-plek {
        @include block(100%, 50%, transparent);
        @include center();
        h3 {
          @include block(35px, 90px, $third-color);
          @include center();
          font-size: 25px;
          color: black;
        }
      }
    }

    .container-input {
      @include block(auto, 100%, transparent);
      display: flex;
      flex-wrap: wrap;
      .input-plek {
        @include block(auto, 50%, transparent);
        @include center_high();
        .black {
          @include block(50px, 50px, transparent);
          @include center();
          background-color: $third-color;
          .vliegtuig-img {
            width: 90%;
            height: 90%;
          }
          .calander-size {
            font-size: 35px;
          }
        }
        .input {
          @include remove_input_style();
          width: 70%;
          height: 50px;
          border-color: $third-color;
          border: 3.3px solid $third-color;
        }
      }
    }

    .container-submit {
      @include block(50px, 100%, transparent);
      @include center();
      .vlucht-submit {
        @include remove_input_style();
        width: 250px;
        height: 40px;
        border: 3.3px solid $third-color;
        border-radius: 8px;
      }
    }
  }
}

.sectionfooter {
  width: 100%;
  height: auto;
  .footer {
    display: flex;
    width: 100%;
    height: 75px;
    border-top: #ffe61b solid 6px;
    .copyright {
      width: 50%;
      height: auto;
      @include center();
      p {
        color: black;
      }
    }
    .socialmedia {
      width: 50%;
      height: auto;
      @include center();
      .socialmedia-logo {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-right: 10px;
        .logo-button {
          border: none;
          background-color: none;
        }
      }
    }
  }
}

.border-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.border-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.img-border-right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.img-border-left {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rotate {
  transform: rotate(90deg);
}

.margin {
  margin-top: 10px;
}
